<div class="page-header"><h1>Edit Tournament</h1></div>

<% form_for(tournament, {action: path_to.tournament(tournament), method: 'PUT', id: "tournament_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('tournaments/form.ejs', {locals: {form: form, tournament: tournament}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Update Tournament', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.tournaments(), {class: 'btn'}) %>
    </div>
<% });%>