<div class="page-header">
    <h1>About Tournament Director</h1>
    <h3>Current Version: <%= version %></h3>
</div>

<div class="row">
  <div class="span12">
  Tournament Director is a standalone software developed to assist any Tournament Director to run their table tennis tournaments.&nbsp
  Currently, the software can only support Round Robin format with cross over towards the semi-finals and finals.  The software is an open&nbsp
  source software.  Anyone is free to download and install it to use it.  The software is developed using the following technology stack:

  <dl>
    <dt>Webserver</dt>
    <dd>The web server is using the node.js.  One can learn more about this on <a href="http://www.nodejs.org" target="_blank">here</a>.  Current version
        running is: <%= process.version %>.
    </dd><br>
    <dt>MVC Framework</dt>
    <dd>The software is built using the RailwayJS framework.  The framework is inspired by Ruby On Rails framework.  Once can learn more about this on
    <a href="http://railwayjs.com" target="_blank">here</a>.&nbsp&nbspCurrent version running is: <%= railway.version %>.
    </dd><br>
    <dt>Database</dt>
    <dd>The underlying database to store the data is SQLite.  One can learn more about this on <a href="http://www.sqlite.org" target="_blank">here</a>.
    Current version is 3.0.
    </dd>
  </dl>

  </div> <!-- end of span12 -->

</div>